body {
    background-color: #e4e3e3;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: seagreen;
    border-width: 5px;
    height: 0px;
    width: 9%;
}
h1 {
    color: #3b6978;
    text-decoration: underline;

}
h3 {
    color: #204051;

}